<mat-card>
  <mat-card-title>Tasks</mat-card-title>
  <mat-card-subtitle>List of Tasks</mat-card-subtitle>
  <mat-divider></mat-divider>
  <mat-card-content>
    <app-task-status-list (tasksForIdEmitter)="onMoreTask($event)"></app-task-status-list>
  </mat-card-content>
  <mat-divider></mat-divider>

</mat-card>
<mat-card *ngIf="taskListForId">
  <mat-card-title>Current Status</mat-card-title>
  <mat-card-subtitle>Status of Task : {{ taskListForId[0].taskId }} For input : {{ taskListForId[0].search }} ( {{ taskListForId[0].category }} )</mat-card-subtitle>
  <mat-divider></mat-divider>
  <mat-card-content>
    <app-task-status-details [taskDetails]="taskListForId"></app-task-status-details>
  </mat-card-content>

</mat-card>
